<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


</head>
<body>

    <div id="nav">
        <div class="left-nav">
            <img src="/logo.png" alt="">
        </div>

        <div class="right-nav">
            <h3>Home</h3>
            <h3>Campaign</h3>
            <h3>Contact Us</h3>
            <button>Call Now</button>
        </div>
    </div>


    <div id="main">

        <div id="page1">

            <div class="left-page1">
                <h1>Maintain a health mental state</h1>
                <p>We offer a secure platform for parents to access expert guidance and resources. Our specialized services empower early detection and address mental health concerns, ensuring a brighter future for children.</p>
                <form action="/sign" method="post">
                    <button type="submit" id="takeTest">Take Test</button>
                </form>
            </div>

            <div class="right-page1">
                <img src="/side3.png" alt="">
            </div>

        </div>


        <div id="page2">
            <h1>Revolutionary
                Childcare</h1>
                <p>Experience the future of child mental health and well-being surveillance with MindGuard, the ultimate assessment and tracking solution for your little ones.</p>
        </div>

        <div id="page3">
            <h1>Take a Mental Health Test</h1>
            <p>Online screening is one of the quickest and easiest ways to determine whether you are experiencing symptoms of a mental health condition.<br>
                <strong>Mental health conditions, such as depression or anxiety, are real, common and treatable. And recovery is possible.
                    </strong>
                </p>
            <button>Take Test</button>
        </div>


        <div id="page4">
            <div class="overlay">
                <h1>“Kids' mental health matters.<br> Soulful Psyche makes it a priority.”</h1>
            </div>
        </div>

        <div id="page5">

            <div class="left-page5">
                <h1>Why Us?</h1>
                <p>Our innovative platform allows for seamless tracking and assessment of your child's mental health, giving you insights like never before.</p>
                <p>Our innovative platform allows for seamless tracking and assessment of your child's mental health, giving you insights like never before.</p>
                <p>Our innovative platform allows for seamless tracking and assessment of your child's mental health, giving you insights like never before.</p>
            </div>

            <div class="right-page5">
                <img src="aboutUs.jpg" alt="">
            </div>

        </div>


        <div id="page6">
            <div class="left-page6">
                <img src="/contact2.jpg" alt="">
            </div>

            <div class="right-page6">
                <h1>Contact Us</h1>

                <form method="POST"  action='/contact'>
                    <input type="text" name="fname" placeholder="Enter Your First Name">

                    <input type="text" name="lname" placeholder="Enter Your Last Name">

                    <input type="email" name="email" placeholder="Enter Your Email">

                    <input type="tel" name="number" placeholder="Enter Your Phone Number" minlength="10" maxlength="10">
                    
                    <button>Submit</button>
                </form>

            </div>
        </div>

    </div>


</body>
</html>